<h1 class="text-center my-4">Crear nuevo tipo</h1>

<div class="jumbotron container text-white bg-info">
       <%= render 'form', type: @type %>

       <%= link_to 'Back', types_path, class: "btn btn-light mt-3" %>
</div>

